<h1><%= @definition.word.word %></h1>

<h2>Definition:</h2>
<p><%= @definition.definition %></p>

<h3>Update Definition:</h3>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="definition">Change Definition</label>
    <input id="w" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Update definition!</button>
</form>
<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete definition!</button>
</form>

<p><a href = "/words">Return to the list of words</a></p>