<a href="/">Return to word list</a>
<h1 class="display-2"><%= @word.word %></h1>
<p><a href="/words/<%= @word.id %>/edit" class="btn btn-warning">Edit Word</a></p>
<div class="row">
  <div class="col-md">
    <h2>Definitions for <%= @word.word %></h2>
    <% if @word.definitions.any? %>
      <ul>
        <% @word.definitions.each do |definition| %>
          <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no definitions for this word yet, add one!</p>
    <% end %>
  </div>
  <div class="col-md">
    <h2>Add a definition</h2>
    <form action = "/words/<%= @word.id %>/definitions" method="post">
      <div class="form-group">
        <textarea required id="w" name="definition" class="form-control" type="text" rows="3"></textarea>
      </div>
      <button type="submit" id="add" class="btn btn-primary mt-3">Add definition for <%= @word.word %>!</button>
    </form>
  </div>
</div>
